In [2]:
import mysql.connector
db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="msit"
)
mysql_query = db.cursor()
# mysql_query.execute("CREATE TABLE customers_3(id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255),address VARCHAR(255))")
# print("Table Created Successfully")
sql="INSERT INTO customers(name,address) VALUES(%s,%s)"
val=("Adrija,kolkata")
mysql_query.execute(sql,val)
sql_2="INSERT INTO customers_students(name,address,email,gender) VALUES(%s,%s,%s,%s)"
a=str(input("Enter your name: "))
b=str(input('Enter your name -> '))
c=str(input("Enter your email: "))
d=str(input("Enter your gender: "))
val_2=(a,b,c,d)
mysql_query.execute(sql_2,val_2)
mysql_query.commit
print(mysql_query.rowcount,"Record inserted")

ProgrammingError: Could not process parameters: str(Adrija,kolkata), it must be of type list, tuple or dict